**3-5**

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./HR.csv',sep=',')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
type(df['satisfaction_level'])

pandas.core.series.Series

In [5]:
df.mean()

satisfaction_level         0.612834
last_evaluation            0.716102
number_project             3.803054
average_montly_hours     201.050337
time_spend_company         3.498233
Work_accident              0.144610
left                       0.238083
promotion_last_5years      0.021268
dtype: float64

In [6]:
type(df.mean())

pandas.core.series.Series

In [7]:
df['satisfaction_level'].mean()

0.6128335222348156

In [8]:
df.median()

satisfaction_level         0.64
last_evaluation            0.72
number_project             4.00
average_montly_hours     200.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
dtype: float64

In [9]:
df['satisfaction_level'].median()

0.64

In [10]:
df.quantile(q=0.25) #四分位数

satisfaction_level         0.44
last_evaluation            0.56
number_project             3.00
average_montly_hours     156.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
Name: 0.25, dtype: float64

In [11]:
df.mode()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.1,0.55,4.0,135,3.0,0.0,0.0,0.0,sales,low
1,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['satisfaction_level'].mode() #众数

0    0.1
dtype: float64

In [13]:
df.std() #标准差

satisfaction_level        0.248631
last_evaluation           0.171169
number_project            1.232592
average_montly_hours     49.943099
time_spend_company        1.460136
Work_accident             0.351719
left                      0.425924
promotion_last_5years     0.144281
dtype: float64

In [14]:
df.var() #方差

satisfaction_level          0.061817
last_evaluation             0.029299
number_project              1.519284
average_montly_hours     2494.313175
time_spend_company          2.131998
Work_accident               0.123706
left                        0.181411
promotion_last_5years       0.020817
dtype: float64

In [32]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [15]:
df.sum() #object项求和是字符串拼接了

satisfaction_level                                                 9191.89
last_evaluation                                                    10740.8
number_project                                                       57042
average_montly_hours                                               3015554
time_spend_company                                                   52470
Work_accident                                                         2169
left                                                                  3571
promotion_last_5years                                                  319
sales                    salessalessalessalessalessalessalessalessaless...
salary                   lowmediummediumlowlowlowlowlowlowlowlowlowlowl...
dtype: object

In [16]:
df.sum(axis=1) #行求和

0        163.91
1        275.66
2        284.99
3        235.59
4        165.89
          ...
14994    157.97
14995    166.85
14996    149.90
14997    292.07
14998    164.89
Length: 14999, dtype: float64

In [17]:
df.skew() #偏态系数

satisfaction_level      -0.476360
last_evaluation         -0.026622
number_project           0.337706
average_montly_hours     0.052842
time_spend_company       1.853319
Work_accident            2.021149
left                     1.230043
promotion_last_5years    6.636968
dtype: float64

In [18]:
df.kurt() #峰态系数

satisfaction_level       -0.670859
last_evaluation          -1.239040
number_project           -0.495478
average_montly_hours     -1.134982
time_spend_company        4.773211
Work_accident             2.085320
left                     -0.487060
promotion_last_5years    42.054957
dtype: float64

In [19]:
import scipy.stats as ss

In [20]:
ss.norm

In [21]:
ss.norm.stats(moments='mvsk')

(array(0.), array(1.), array(0.), array(0.))

In [22]:
ss.norm.pdf(0.0)

0.3989422804014327

In [23]:
ss.norm.ppf(0.9)

1.2815515655446004

In [24]:
ss.norm.cdf(2)

0.9772498680518208

In [25]:
ss.norm.cdf(2)-ss.norm.cdf(-2)

0.9544997361036416

In [26]:
ss.norm.rvs(size=10)

array([ 0.46764008, -0.03840554, -0.42552248,  0.16032087, -0.10239667,
       -1.96696364, -0.31529846,  0.73345114, -1.27916274, -0.85809527])

In [27]:
ss.chi2

In [28]:
ss.t

In [29]:
ss.f

In [30]:
df.sample(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
2520,0.81,0.76,4,177,3,0,0,0,support,medium
6094,0.53,0.50,5,159,2,0,0,0,IT,medium
11887,0.96,0.59,3,241,3,0,0,0,product_mng,low
163,0.79,0.89,5,239,5,0,1,0,sales,low
2329,0.66,0.77,2,171,2,0,0,0,technical,medium
13311,0.96,0.85,4,247,3,0,0,0,sales,high
10928,0.98,0.58,3,183,3,0,0,0,sales,low
11594,0.83,0.55,3,271,7,0,0,0,sales,medium
7825,0.50,0.50,3,237,2,0,0,0,technical,medium
8139,0.61,0.57,4,160,3,1,0,0,support,low

In [31]:
df.sample(frac=0.001)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
13552,0.77,0.91,4,239,3,1,0,0,product_mng,low
14345,0.36,0.50,2,132,3,0,1,0,technical,low
10616,0.99,0.55,3,170,3,0,0,0,marketing,medium
5142,0.50,0.88,4,275,5,0,0,0,accounting,low
1875,0.72,0.84,4,256,5,0,1,0,technical,low
2916,0.12,0.47,3,258,5,0,0,0,sales,medium
3941,0.90,0.60,4,252,3,0,0,0,support,low
9621,0.46,0.40,3,145,2,0,0,0,support,medium
7201,0.74,0.64,3,267,5,0,0,0,sales,low
7644,0.50,0.54,2,269,2,1,0,0,sales,medium
10798,0.60,0.66,4,132,4,0,0,0,technical,medium
9106,0.73,0.77,3,230,2,0,0,0,sales,low
14029,0.66,0.60,3,210,2,0,0,0,sales,low
6776,0.55,0.71,3,211,2,0,0,0,management,low
882,0.11,0.79,6,294,4,0,1,0,technical,medium