**3-5**

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('./HR.csv',sep=',')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
type(df['satisfaction_level'])

pandas.core.series.Series

In [5]:
df.mean()

satisfaction_level         0.612834
last_evaluation            0.716102
number_project             3.803054
average_montly_hours     201.050337
time_spend_company         3.498233
Work_accident              0.144610
left                       0.238083
promotion_last_5years      0.021268
dtype: float64

In [6]:
type(df.mean())

pandas.core.series.Series

In [7]:
df['satisfaction_level'].mean()

0.6128335222348156

In [8]:
df.median()

satisfaction_level         0.64
last_evaluation            0.72
number_project             4.00
average_montly_hours     200.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
dtype: float64

In [9]:
df['satisfaction_level'].median()

0.64

In [10]:
df.quantile(q=0.25) #四分位数

satisfaction_level         0.44
last_evaluation            0.56
number_project             3.00
average_montly_hours     156.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
Name: 0.25, dtype: float64

In [11]:
df.mode()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.1,0.55,4.0,135,3.0,0.0,0.0,0.0,sales,low
1,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df['satisfaction_level'].mode() #众数

0    0.1
dtype: float64

In [13]:
df.std() #标准差

satisfaction_level        0.248631
last_evaluation           0.171169
number_project            1.232592
average_montly_hours     49.943099
time_spend_company        1.460136
Work_accident             0.351719
left                      0.425924
promotion_last_5years     0.144281
dtype: float64

In [14]:
df.var() #方差

satisfaction_level          0.061817
last_evaluation             0.029299
number_project              1.519284
average_montly_hours     2494.313175
time_spend_company          2.131998
Work_accident               0.123706
left                        0.181411
promotion_last_5years       0.020817
dtype: float64

In [15]:
df.sum() #object项求和是字符串拼接了

satisfaction_level                                                 9191.89
last_evaluation                                                    10740.8
number_project                                                       57042
average_montly_hours                                               3015554
time_spend_company                                                   52470
Work_accident                                                         2169
left                                                                  3571
promotion_last_5years                                                  319
sales                    salessalessalessalessalessalessalessalessaless...
salary                   lowmediummediumlowlowlowlowlowlowlowlowlowlowl...
dtype: object

In [17]:
df.sum(axis=1) #行求和

0        163.91
1        275.66
2        284.99
3        235.59
4        165.89
          ...
14994    157.97
14995    166.85
14996    149.90
14997    292.07
14998    164.89
Length: 14999, dtype: float64

In [18]:
df.skew() #偏态系数

satisfaction_level      -0.476360
last_evaluation         -0.026622
number_project           0.337706
average_montly_hours     0.052842
time_spend_company       1.853319
Work_accident            2.021149
left                     1.230043
promotion_last_5years    6.636968
dtype: float64

In [20]:
df.kurt() #峰态系数

satisfaction_level       -0.670859
last_evaluation          -1.239040
number_project           -0.495478
average_montly_hours     -1.134982
time_spend_company        4.773211
Work_accident             2.085320
left                     -0.487060
promotion_last_5years    42.054957
dtype: float64

In [21]:
import scipy.stats as ss

ModuleNotFoundError: No module named 'scipy'